body{
    background-color: #665c5c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 5rem;
}
form{
    width: 400px;
    max-width: 100%;
    margin: auto; 
}
.input{
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0,1);
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}
.input::placeholder{
    color: #b5b5b5;

}
.todos{
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;

}
.todos li{
    padding: 1rem 2rem;
font-size: 1.5rem;
border-top: 1px solid #e5e5e5;


}